/******************************************
 * Stats block widget
 *****************************************/

.block_shezar_stats .content img {
    float: left;
}
.dir-rtl .block_shezar_stats .content img {
    float: right;
}

.block_shezar_stats .content p {
    margin-left: 40px;
}
.dir-rtl .block_shezar_stats .content p {
    margin-right: 40px;
    margin-left: 0;
}

.block_shezar_stats.block .content ul {
    margin: 10px 0 0;
    list-style: none;
}
